/* General classes */
body {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
}
button {
  font-size: 16px;
  padding: 5px;
}
h1, h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
h2 {
  color: #AAA;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
h3 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
hr {
  border-top: 1px solid #ccc;
}

/* Structure classes */
.container {
  padding: 20px;
  position: relative;
}
.btn {
  margin-right: 5px;
}
/* User box */
.usercolumn {
  text-align: right;
  padding-right: 0px;
}
.userbox {
  padding: 5px 15px 5px 5px;
  display: inline-block;
  border-radius: 10px;
}
.userbox img {
  float: left;
  width: 40px;
  height: 40px;
}
.userbox .name {
  font-size: 17px;
  display: inline-block;
  font-weight: bold;
}
.userbox .details {
  font-size: 13px;
}
/* Events row */
.events-row {
  margin-bottom:10px;
}
.event {
  display: inline-block;
}
.event .image {
  position: relative; 
  border-radius: 5px;
  overflow: hidden;
}
.event h3 {
  margin: 0px;
}
@media screen and (max-width:768px){
  .event {
    margin-bottom: 5px;
  }
  .ticket .btn {
    padding: 5px 10px;
  }
  .userbox .name {
    font-size: 14px;
  }
  .userbox img {
    width: 36px;
    height: 36px;
  }
  .payment-panel .panel-title {
    font-size: 16px !important;
  }
  .ticket .qr-code {
    background-image: url(/images/icons/icon-external.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 7px 6px;
    font-size: 0;
    width: 32px;
    height: 32px;
  }
}
/* Zoom: http://stackoverflow.com/a/15757620 */
.event img {
  width: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.event .sold-out-img {
  display: none;
}
.event.sold-out .sold-out-img {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  display: block;
}
.event.sold-out .price-text {
  text-decoration: line-through;
}
.event .tickets-left {
  margin-left: 5px;
  color: #b91f37;
}
.event.sold-out:hover img {
  -webkit-transform: none;
   transform: none;
}
.event:hover img {
  -webkit-transform: scale(1.03) rotate(0.5deg);
   transform: scale(1.03) rotate(0.5deg);
}
.event button {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.event .details {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  padding: 3px 8px 2px;
  background-color: rgba(150, 150, 150, 0.8);
}
.event .price {
  font-weight: bold;
  color: white;
}
/* Tickets table row */
.ticket-event-name {
  font-weight: bold;
}
td.empty {
  text-align: center;
}
.ticket-icon {
  width: 17px;
  height: 17px;
  vertical-align: text-top;
  margin-right: 3px;
}
/* Payment Screen */
.payment-panel {
  margin-top: 15px;
}
.payment-panel label {
  font-size: 14px;
}
.payment-panel .cards {
  width: 100%;
}
.payment-panel .card-icon {
  height: 20px;
}
.payment-panel .panel-heading .row {
  display: table;
  table-layout: fixed;
}
.payment-panel .panel-heading .row div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.payment-panel .panel-icons {
  padding: 0px 5px 0px 0px;
}
.payment-panel .panel-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.sweet-alert .payment-panel input {
  display: block;
  height: 34px;
  margin-top: 0px;
  font-size: inherit;
}
.swal2-modal.swal-ticket-purchase .swal2-spacer {
  height: initial;
}
/* Bottom bar */
#status {
  font-family: courier;
  position: absolute;
  font-weight: bold;
  margin-left: 5px;
  left: 0;
  bottom: 0;
}
.powered-by {
  position: absolute;
  font-weight: bold;
  padding: 5px;
  right: 0;
  bottom: 0;
}
.powered-by img {
  height: 20px;
}
/* Print page */
.print-container {
  max-width: 400px;
  margin-left: initial;
  text-align: center;
  border: dashed 2px #999;
  margin: 5px;
}
#code-container {
  height: 180px;
}
.print-header {
  font-size: 22px;
}
.print-ticket-count {
  font-size: 16px;
  margin: 20px 0px;
}
.print-footer {
  color: #b91f37;
  font-weight: bold;
  margin-bottom: 10px;
}
#qrcode {
  width: 200px;
  height: 200px;
}
#time {
  font-size: 28px;
  font-weight: bold;
  margin: 50px 0px;
}


/* Mayflower theme */ 
body.mayflower {
  background-color: black;
}
.mayflower .content {
  background-color: white;
}
.mayflower #logo {
  margin: 20px;
  background: url('images/themes/mayflower-logo.png') no-repeat;
  background-size: contain;
  height: 55px;
  width: 245px;
}
.mayflower .userbox {
  background-color: #FF8600;
}

/* 3 Arena theme */
body.threearena {
  background-color: black;
}
.threearena .header {
  background: url('images/themes/3arena-header.png') no-repeat;
  background-size: auto 100%;
  padding: 15px 20px;
}
.threearena .content {
  background-color: white;
}
.threearena #logo {
  background: url('images/themes/3arena-logo.png') no-repeat;
  background-size: contain;
  height: 97px;
  width: 165px;
}

@media screen and (max-width:768px){
  .threearena #logo {
    width: 82px;
    height: 40px;
  }
}
.threearena .userbox {
  background-color: white;
}
