/* General classes */
body {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
}
button {
  font-size: 16px;
  padding: 5px;
}
h1, h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
h2 {
  color: #AAA;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
h3 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
hr {
  border-top: 1px solid #ccc;
}

/* Structure classes */
.container {
  padding: 20px;
  position: relative;
}
.btn {
  margin-right: 5px;
}
/* User box */
.usercolumn {
  text-align: right;
  padding-right: 0px;
}
.userbox {
  padding: 5px 15px 5px 5px;
  display: inline-block;
  border-radius: 10px;
}
.userbox img {
  float: left;
  width: 42px;
  height: 40px;
}
.userbox .name {
  font-size: 17px;
  display: inline-block;
  font-weight: bold;
}
.userbox .details {
  font-size: 13px;
}
/* Events row */
.events-row {
  margin-bottom:10px;
}
.event {
  display: inline-block;
}
.event .image {
  position: relative; 
  border-radius: 5px;
  overflow: hidden;
}
.event h3 {
  margin: 0px;
}
@media screen and (max-width:768px){
  #logo {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .event {
    margin-bottom: 5px;
  }
  .ticket .btn {
    padding: 3px 6px;
  }
  .usercolumn {
    text-align: center;
  }
}
/* Zoom: http://stackoverflow.com/a/15757620 */
.event img {
  width: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.event:hover img {
  -webkit-transform: scale(1.03) rotate(0.5deg);
   transform: scale(1.03) rotate(0.5deg);
}
.event button {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.event .details {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  padding: 3px 8px 2px;
  background-color: rgba(150, 150, 150, 0.8);
}
.event .price {
  font-weight: bold;
  color: white;
}
/* Tickets table row */
.ticket-event-name {
  font-weight: bold;
}
td.empty {
  text-align: center;
}
.ticket-icon {
  width: 17px;
  height: 17px;
  vertical-align: text-top;
  margin-right: 3px;
}
/* Bottom bar */
#status {
  font-family: courier;
  position: absolute;
  font-weight: bold;
  margin-left: 5px;
  left: 0;
  bottom: 0;
}
.powered-by {
  position: absolute;
  font-weight: bold;
  padding: 5px;
  right: 0;
  bottom: 0;
}
.powered-by img {
  height: 20px;
}
/* Print page */
.print-container {
  max-width: 400px;
  margin-left: initial;
  text-align: center;
  border: dashed 2px #999;
  margin: 5px;
}
.print-header {
  font-size: 20px;
}
#qrcode {
  width: 200px;
  height: 200px;
}
#time {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}


/* Mayflower theme */ 
body.mayflower {
  background-color: black;
}
.mayflower .content {
  background-color: white;
}
.mayflower #logo {
  margin: 20px;
  background-image: url('images/mayflower-logo.png');
  background-size: 245px 55px;
  height: 55px;
  width: 245px;
}
.mayflower .userbox {
  background-color: #FF8600;
}
